*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f3f6f8;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #151d23;
    padding: 15px;
    border-radius: 42px;
    box-shadow: inset 5px 5px 12px #a53636,
                      5px 5px 12px rgba(67, 50, 50, 0.16);
    display:grid;  
    grid-template-columns: repeat(4,68px);   
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #1686de;
    box-shadow: inset -5px -5px 12px #bd3535,
                inset 5px 5px 12px rgba(67, 65, 65, 0.16);
    border:none;
    border-radius: 30px;
    color: rgb(64, 47, 47);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

    
 }
button{
    height: 40px;
    width: 48px;
    background-color: #2c7fc0;
    box-shadow: -5px -5px 12px #9e4848,
                    5px 5px 12px rgba(77, 70, 70, 0.16);
    border : none;
    border-radius: 50%;
    margin: 8px;
    font-size:16px;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #2c7fc0;
    box-shadow: -5px -5px 12px #9e4848,
                    5px 5px 12px rgba(71, 64, 64, 0.16);
}